<!-- wp:pattern {"slug":"prime-pomelli/header"} /-->
<!-- wp:group {"tagName":"main","className":"blog-main"} -->
<main class="wp-block-group blog-main">
<!-- wp:query-title {"type":"archive","showPrefix":false} /-->
<!-- wp:query {"queryId":1,"query":{"perPage":10,"inherit":true}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"isLink":true,"level":2} /-->
<!-- wp:post-date /-->
<!-- wp:post-excerpt {"moreText":"Ler mais"} /-->
<!-- /wp:post-template -->
<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous {"label":"Anteriores"} /-->
<!-- wp:query-pagination-next {"label":"Próximos"} /-->
<!-- /wp:query-pagination -->
<!-- wp:query-no-results --><!-- wp:paragraph --><p>Nenhuma publicação encontrada.</p><!-- /wp:paragraph --><!-- /wp:query-no-results --></div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:pattern {"slug":"prime-pomelli/footer"} /-->
